* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}


/*.bg {
    width: 500px;
    height: 60vh;
    margin: 0 auto;
     background
    background-color: red;
    background-image: url('../imagens/971.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

}*/

.box {
    width: 900px;
    margin: 80px auto;
    text-align: center;
    background-color: greenyellow;
}

.item img {
    width: 16%;
}

.item {
    width: 33.3%;
    margin-right: -4px;
    display: inline-block;
}

.last {
    margin-right: 0;
}