* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
}

.parent {
    background-color: blue;
    width: 100%;
    padding: 90px;
    text-align: center;
}

.item {
    display: inline-block;
    width: 300px;
    height: 300px;
    background-color: green;
    margin: 20px 0;
}


/*
.parent div:nth-of-type(2n + 1)>div.item { /* 2n + estamos falando a cada 2 aplique tao função 
    background-color: red;
}*/


/*
.parent div:first-child div.item {
    background-color: purple
}*/
/*
.parent p:first-child {
    color: orange;
}*/