* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}


/*
.table1 {
    width: 900px;
    border-collapse: collapse;
    margin: 0 auto;
}

table tr td {
    background-color: rgb(70, 68, 68);
    height: 300px;
    vertical-align: top;
    border: 1px solid black;
}*/

.menu {
    position: /*relative,absolute*/
    fixed;
    width: 100%;
    height: 100px;
    background: rgb(8, 152, 224);
    border-bottom: 2px solid white;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://image.freepik.com/fotos-gratis/cores-vivas-na-abstracao_23-2147734146.jpg);
}

.box {
    width: 100%;
    height: 1400px;
    background: rgba(255, 43, 43, 0.74);
    background-image: url(https://image.freepik.com/vector-gratis/computadora-portatil-icono-isometrico-codigo-programa-desarrollo-software-aplicaciones-programacion-neon-oscuro_39422-971.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

p {
    padding: 100px 400px;
    text-decoration: transparent;
    text-align: center;
    width: 200px;
    color: white;
    font-size: 20px;
}