* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
}

.lista>ul {
    list-style-position: inside;
    list-style-type: upper-roman;
    margin-left: 20px;
}

.lista li {
    color: green;
    font-size: 18px;
    margin-top: 10px;
    font-weight: bold;
}

.lista .item3 {
    color: red;
}