html,
body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

.pai {
    width: 1280px;
    padding: 20px 0;
    margin: 0 auto;
    background-color: red;
}

.child {
    box-sizing: border-box;
    width: 640px;
    height: 300px;
    background-color: blue;
    float: left;
    text-align: center;
    font-size: 40px;
    padding: 50px 0;
    color: blanchedalmond;
    border: 2px solid black;
}