* {
    margin: 0;
    padding: 0;
}

.menu {
    width: 250px;
    height: 20px;
    margin: 0 auto;
    padding: 10px 10px;
    background-color: darkturquoise;
}

.menu>a {
    font-size: 20px;
    color: mediumblue;
    text-decoration: none;
}